#root {
  /* all employee cards */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  border: 1px solid black;
  /* margin: 0px auto; */
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom: 1vw;
  border-radius: 20px;
  background-color: black;
}
body {
  margin: 0px;
  padding: 0px;
}

.logo-image {
  height: 15vh;
}
h1 {
  text-align: center;
  font-size: 30px;
}
#head {
  display: flex;
  background-color: black;
  height: 15vh;
}
.employee-card {
  width: 30vw;
  height: 53vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
}

.employee-image {
  width: 75px;
  height: 75px;
  /* border-radius: 50%; */
  border: 2px solid black;
}

.employee-image img {
  width: 100%;
  height: 100%;
}

#foot {
  display: flex;
  background-color: black;
  flex-direction: column-reverse;
}
.foot-image {
  height: 20vh;
  width: 30%;
  margin-left: 33vw;
}
.foot-des {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 20vw;
}
.icon {
  margin-top: 6vh;
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: red;
  color: white;
}

@media (max-width: 700px) {
  .employee-card {
    width: 100vw;
    height: 60vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    font-size: 11px;
  }
  .fa {
    padding: 10px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin-left: 15vw;
  }

  .logo-image {
    height: 10vh;
  }
  #head {
    display: flex;
    background-color: black;
    height: 10vh;
  }
}
